{:aliases
 {:crap {:extra-deps {io.github.unclebob/crap4clj
                      {:git/url "https://github.com/unclebob/crap4clj"
                       :git/sha "1ee5b8cf1b3fd0dbb62c5308f3e2de528b80d077"}}
         :main-opts ["-m" "crap4clj.core"]}}}
