{:aliases
 {:crap {:extra-deps {io.github.unclebob/crap4clj
                      {:git/url "https://github.com/unclebob/crap4clj"
                       :git/sha "e068673a852a8142323ac680fa3366de65bc2227"}}
         :main-opts ["-m" "crap4clj.core"]}}}
